.App-header {
  text-align: center;
  border-bottom: 1px solid #4b5257;
}

.wrapper {
  display: flex;
  flex-direction: row;
}

section.fileUpload {
  width: 35%;
  padding: 40px;
  background-color: #dddddd;
  height: 100vh;
  border-right: 2px solid #ffffff;
}

section.fileUpload h1 {
  color: #0065ad;
  font-size: 25px;
  font-weight: normal;
  padding-bottom: 20px;
  border-bottom: 2px solid #0065ad;
}

section.fileUpload p {
  font-size: 20px;
  color: #333333;
  margin-bottom: 5px;
}

section.fileUpload p.required-file-format {
  font-size: 14px;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 40px;
  color: rgb(180, 87, 0);
}

section.fileUpload .required-file-format span {
  font-weight: bold;
}

section.table-section {
  width: 65%;
  padding: 45px 40px;
}

section.table-section h2 {
  font-weight: normal;
  font-size: 20px;
}

section.table-section table {
  border-collapse: collapse;
  margin: auto;
  width: 100%;
  text-align: left;
  box-shadow: 0px 0px 10px #cccccc;
}

section.table-section table th {
  background-color: #cccccc;
  padding: 10px;
  font-weight: normal;
}

section.table-section table tbody tr:nth-child(2n+1) {
  background-color: #ffffff;  
}

section.table-section table td {
  padding: 10px;
  border: 1px solid #cccccc;
}